/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

    table tbody tr {
        border: solid 1px;
        border-left: 0;
        border-right: 0;
    }

    table td {
        padding: 0.75em 0.75em;
    }

    table th {
        font-size: 0.9em;
        font-weight: 400;
        padding: 0 0.75em 0.75em 0.75em;
        text-align: left;
    }

    table thead {
        border-bottom: solid 2px;
    }

    table tfoot {
        border-top: solid 2px;
    }

    table.alt {
        border-collapse: separate;
    }

        table.alt tbody tr td {
            border: solid 1px;
            border-left-width: 0;
            border-top-width: 0;
        }

            table.alt tbody tr td:first-child {
                border-left-width: 1px;
            }

        table.alt tbody tr:first-child td {
            border-top-width: 1px;
        }

        table.alt thead {
            border-bottom: 0;
        }

        table.alt tfoot {
            border-top: 0;
        }

table tbody tr {
    border-color: #666666;
}

    table tbody tr:nth-child(2n + 1) {
        background-color: rgba(144, 144, 144, 0.075);
    }

table th {
    color: #444444;
}

table thead {
    border-bottom-color: #666666;
}

table tfoot {
    border-top-color: #666666;
}

table.alt tbody tr td {
    border-color: #666666;
}
